body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, serif;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

/* type 1, compressed to container size */
/*.gallery {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(4, minmax(200px, 1fr));*/
/*  grid-gap: 20px;*/
/*  grid-template-rows: 1fr 1fr;*/
/*}*/

/*.item_container {*/
/*  position: relative;*/
/*  height: 400px;*/
/*}*/

/*.item_container img {*/
/*  border: 1px solid #ccc;*/
/*  box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.3);*/
/*  max-height: 100%;*/
/*  max-width: 100%;*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  top: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*}*/

/* type 2, mosaic type */
.gallery {
  display: grid;
  height: 500vh;
  grid-template: repeat(6, minmax(200px, 1fr))/repeat(6, minmax(200px, 1fr));
  grid-gap: 0.5em;
}
@media (max-width: 800px) {
  .gallery {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .gallery > div {
    width: 48%;
    margin: 1%;
  }
}
@media (max-width: 800px) and (max-width: 350px) {
  .gallery > div {
    width: 98%;
  }
}

.gallery > div:nth-child(6n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery > div:nth-child(2) {
  grid-column: span 3;
  grid-row: span 3;
}
.gallery > div:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}
.gallery > div > img {
  width: 100%;
  min-height: 100%;
  transition: all ease 1s;
}
.gallery > div {
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}
.gallery div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
