<html lang="ru">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/photoswipe/dist/photoswipe.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/photoswipe/dist/default-skin/default-skin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script src="{{ url_for('static', filename='node_modules/photoswipe/dist/photoswipe.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/photoswipe/dist/photoswipe-ui-default.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>Content</title>
</head>

<body>

<button class="tabLink" onclick="openPage('Picture', this)" id="defaultOpen">Picture</button>
<button class="tabLink" onclick="openPage('Video', this)">Video</button>

<div id="Video" class="tabContent">
    {% for video in response.video %}
    <img
         onclick="lightbox_open('{{ video.name}}');" class="img_container"
         src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    <div id="fade{{video.name}}" onClick="lightbox_close(this.id);"></div>
    <div id="light{{ video.name}}" class="video">
      <a class="boxclose {{ video.name}}" id="boxclose" onclick="lightbox_close('{{video.name}}');"></a>
      <video id="{{ video.name}}" width="600" controls>
          <source src='{{ video.path }}' type="video/{{ video.ext }}" />
        </video>
    </div>

    {% endfor %}
</div>
<div id="Picture" class="tabContent">
    <div class="gallery">
        {% for picture in response.picture %}
            <div class="item_container">
                <img
                        class="item lzy_img"
                        onclick="openPhotoSwipe(this);"
                        src="{{ url_for('static', filename='images/loading2.gif') }}"
                        data-index-number="{{ loop.index }}" data-src="{{ picture.name }}"  alt=""
                />
            </div>
        {% endfor %}
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <div class="pswp__container">
                <!-- don't modify these 3 pswp__item elements, data is added later on -->
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var openPhotoSwipe = function (elem) {
            var pswpElement = document.querySelectorAll('.pswp')[0];

            var items = [
                {% for picture in response.picture %}
                    {
                        src: '{{ picture.name }}',
                        w: {{ picture.width }},
                        h: {{ picture.height }}
                    },
                {% endfor %}
            ];

            var options = {
                index: elem.dataset.indexNumber - 1,
                history: false,
                focus: true,

                showAnimationDuration: 1,
                hideAnimationDuration: 1

            };

            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        };
    </script>
</div>
</body>
</html>